<div class="panel">
    <div class="content">
  
      <div [routerLink]="['/home']" id="closeButton"> &times;</div>
  
      <h1 id="title">PROJECTS</h1>
      <img src="assets/projects.jpg">
  
      <h2 class="sectionHeader">WORK</h2>
      <h4 class="sectionBody">
        <a class="projectsHeader" href="https://www.fwsi.net" target="_blank">FRAMEWORK SOLUTIONS</a><span class="projectsText">- Consulting work on multiple ASP.NET apps.</span>
        <br />
        <br />
        <a class="projectsHeader" href="https://www.rpa.com" target="_blank">RPA ADVERTISING</a><span class="projectsText">- Worked with Honda on their Dealer Dashboard site.</span>
        <br />
        <br />
        <a class="projectsHeader" href="https://memeni.com" target="_blank">SOCIAL MEDIA GRADER</a><span class="projectsText">- Startup created by the Memeni compan.</span>
        <br />
        <br />
        <a class="projectsHeader" href="https://www.lisi-aerospace.com" target="_blank">LISI AEROSPACE</a><span class="projectsText">- Previous Mech. Engineering field.</span>
        <br />
        <br />
      </h4>
      <h2 class="sectionHeader">PERSONAL</h2>
      <h4 class="sectionBody">
        <a class="projectsHeader" href="http://nasw17.us-west-1.elasticbeanstalk.com/" target="_blank">NASW2017</a><span class="projectsText">- Winner of 2017 Hacking for Humanity hackathon.</span>
        <br />
        <br />
        <a class="projectsHeader" href="https://github.com/AndrewRchow/coinviewer" target="_blank">COINVIEWER</a><span class="projectsText">- Crypto dashboard to view realtime net changes.</span>
        <br />
        <br />
        <a class="projectsHeader" href="https://github.com/AndrewRchow/cookbook" target="_blank">COOK BOOK</a><span class="projectsText">- Recipe and shopping list application in Angular 6.</span>
        <br />
        <br />

      </h4>
      

    </div>
  </div>