<div class="panel">
    <div class="content">
  
      <div [routerLink]="['/home']" id="closeButton"> &times;</div>
  
      <h1 id="title">PROJECTS</h1>
      <img src="assets/projects.jpg">
  
      <h2 class="sectionHeader">WORK</h2>
      <h4 class="sectionBody">
        <a class="projectsHeader" href="https://www.thinklogic.com/" target="_blank">THINKLOGIC</a><span class="projectsText">- Software development serving clients across the country.</span>
        <br />
        <br />
        <a class="projectsHeader" href="https://www.fwsi.net" target="_blank">FRAMEWORK SOLUTIONS</a><span class="projectsText">- Consulting work on multiple ASP.NET apps.</span>
        <br />
        <br />
        <a class="projectsHeader" href="https://www.rpa.com" target="_blank">RPA ADVERTISING</a><span class="projectsText">- Worked with Honda on their Dealer Dashboard.</span>
        <br />
        <br />
        <a class="projectsHeader" href="https://memeni.com" target="_blank">SOCIAL MEDIA GRADER</a><span class="projectsText">- Startup created by the Memeni company.</span>
        <br />
        <br />
        <a class="projectsHeader" href="https://www.lisi-aerospace.com" target="_blank">LISI AEROSPACE</a><span class="projectsText">- Previous Mech. Engineering field.</span>
        <br />
        <br />
      </h4>
      <h2 class="sectionHeader">PERSONAL</h2>
      <h4 class="sectionBody">
          <a class="projectsHeader personal" href=" http://nasw2017.us-west-2.elasticbeanstalk.com " target="_blank">
            NASW2017</a>
            <span class="projectsText">- Winner of 2017 Hacking for Humanity hackathon.</span>
            <a href="https://github.com/AndrewRchow/nasw2017" target="_blank" class="fa fa-code fa-1x"></a>
          <br />
          <br />
          <a class="projectsHeader personal" href="http://photoalbum.us-west-2.elasticbeanstalk.com" target="_blank">
            PHOTO ALBUM</a>
            <span class="projectsText">- Assignment project created within 48 hours.</span>
            <a href="https://github.com/AndrewRchow/BoingoPhotoAlbum" target="_blank" class="fa fa-code fa-1x"></a>
          <br />
          <br />
          <a class="projectsHeader personal" href="http://coinviewer1.us-west-2.elasticbeanstalk.com" target="_blank">
            COINVIEWER</a>
            <span class="projectsText">- Crypto dashboard to view realtime net changes.</span>
            <a href="https://github.com/AndrewRchow/CoinViewer" target="_blank" class="fa fa-code fa-1x"></a>
          <br />
          <br />

          <a class="projectsHeader personal" href="http://phasergames.s3-website-us-west-2.amazonaws.com" target="_blank">
            FLAPPY BOX</a>
            <span class="projectsText">- Flappy Bird clone built with Phaser and HTML5.</span>
            <a href="https://github.com/AndrewRchow/PhaserGames" target="_blank" class="fa fa-code fa-1x"></a>
          <br />
          <br />
          <a class="projectsHeader personal" href="http://cookbook001.s3-website-us-west-2.amazonaws.com/" target="_blank">
            RECIPE BOOK</a>
            <span class="projectsText">- Recipe app built using Angular6.</span>
            <a href="https://github.com/AndrewRchow/CookBook" target="_blank" class="fa fa-code fa-1x"></a>
          <br />
          <br />
          <a class="projectsHeader personal" href="http://turtlequizapp.s3-website-us-west-2.amazonaws.com/" target="_blank">
            TURTLE QUIZ</a>
            <span class="projectsText">- Quiz application built using AngularJS</span>
            <a href="https://github.com/AndrewRchow/QuizApp" target="_blank" class="fa fa-code fa-1x"></a>
          <br />
          <br />

      </h4>
      

    </div>
  </div>