.panel {
    background-color:rgba(27, 31, 34, 0.8);
    margin: 0 auto 4% auto;
    border-radius: 4px;
    width:84rem;
    max-width: 100%;
}

.content{
    padding: 8rem 5rem 5rem 5rem;
}

#title {
    text-align: left;
    font-weight:600;
    letter-spacing: 7px;
    font-size:4rem;
    margin-bottom:5rem;
}

#contactInfoMessage{
    height: 15rem;
    line-height: 4rem;
}

input, textarea {
    background: transparent;
    border-radius: 4px;
    border: solid 2px #ffffff;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1rem;
    text-decoration: none;
    width: 100%;

    font-size:2rem;
    line-height:5rem;
}

#submitButton {
    background: transparent;
    border-radius: 4px;
    border: solid 2px white;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 2rem;

    letter-spacing:2px;
    font-size:2rem;
    line-height:5rem;
}

#submitButton:hover {
    background-color:rgba(211,211,211, 0.2);
}

#socialLinks {
    text-align:left;
}
#socialLinks a{
    margin-right:2rem;
    color: white;
}
#socialLinks a:hover {
    color: #23527c;
    text-decoration: none;
}


#closeButton {
    font-size:5rem;
    line-height:5rem;
    margin-top:-6rem;
    margin-right:-2rem;
    border-radius:50%;
    padding-left:1rem;

    cursor: pointer;
    float:right;

    width:5rem;
    height:5rem;
    margin-bottom:0;
}

#closeButton:hover {
    background-color:rgba(211,211,211, 0.2);
}



@media screen and (max-width: 480px){
    .content {
        padding: 2.5rem 2rem 2rem 2rem;
    }

    #closeButton {
        margin-top:-2rem;
        margin-right:-1rem;
        font-size:3rem;
        width:3rem;
        height:3rem;
        line-height:3rem;
        padding-left:0.6rem;
    }

    #title {
        font-size:2rem;
        margin-bottom:2rem;
    }

    input, textarea {
        font-size:1.5rem;
        line-height:3rem;
    }
    
    #submitButton {

        padding: 0 2rem;
    
        letter-spacing:2px;
        font-size:1.5rem;
        line-height:3.8rem;
    }
    
}

