.panel {
    background-color:rgba(27, 31, 34, 0.7);
    margin: 0 auto;
    border-radius: 4px;
    width:84rem;
    max-width: 100%;
}

.content{
    padding: 8rem 5rem 5rem 5rem;
}

@media screen and (max-width: 480px){
    .content {
        padding: 2.5rem 2rem 2rem 2rem;
    }
}




img {
   max-width: 100%;
   border-radius: 4px;
}

#title {
    text-align: left;
    font-weight:600;
    letter-spacing: 7px;
    font-size:2.5rem;
}