<div class="panel">
  <div class="content">

    <div [routerLink]="['/home']" id="closeButton"> &times;</div>

    <h1 id="title">ABOUT</h1>
    <img src="../assets/images/skills.jpg">

    <h2 class="sectionHeader">SKILLS</h2>

    <h4 class="sectionBody">
      <span class="skillsHeader">Front End:</span><span class="skillsText">HTML5, CSS3, Bootstrap, JavaScript/JQuery,
        Angular, AJAX, ReactJS (Learning)</span>
      <br />
      <br />

      <span class="skillsHeader">Middle Tier:</span><span class="skillsText">C#, VB.NET, ASP.NET MVC, Webforms, Web API
        2.0</span>
      <br />
      <br />

      <span class="skillsHeader">Back End:</span><span class="skillsText">SQL Server, T-SQL, SSRS</span>
      <br />
      <br />

      <span class="skillsHeader">Other Technical:</span><span class="skillsText">Visual Studio, Git, Agile/Scrum,
        Salesforce, AWS, Trello, SiteCore, Postman</span>
      <br />
      <br />
      <br />
    </h4>
    
    <div id="resumeButton">
        <a href="https://docs.google.com/document/d/1pgqsdpc5hXnbQrnAjpdmLExrm4il34c-CgGpPGkK6VQ/edit?usp=sharing"
          target="_blank" class="button">
          <i class="fa fa-cloud-download fa-3x"></i>
          <br />
          <span>Resume</span>
        </a>
      </div>
  </div>
</div>