  :host {

    display: flex;
    overflow: hidden;
    height: 100vh;
  
    .main {
      flex: 1;
    //   position: relative;

      color:white;
      margin-top:5%;
    //   text-align: center;
    }
  
    /deep/ router-outlet ~ * {
      position: absolute;
      right:2.5%;
      width: 95%;
      height: 100%;
    }
  
  }