
* {
    letter-spacing: 3px;
    text-align: center;
}

.dashBoard {
    -webkit-transform: translateY(16%);
        -ms-transform: translateY(16%);
            transform: translateY(16%);
    -webkit-animation: slideUp 1s ease 0.5s 1 normal forwards;
            animation: slideUp 1s ease 0.5s 1 normal forwards;
}

@-webkit-keyframes slideUp {
    0%{
        -webkit-transform: translateY(16%);
                transform: translateY(16%);
    }
    100%{
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}
@keyframes slideUp {
    0%{
        -webkit-transform: translateY(16%);
                transform: translateY(16%);
    }
    100%{
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}

#laptopLogo{
    margin: 0 auto;
    width: 14rem;
    height: 14rem;
    line-height: 18rem;
    border: solid 2px #ffffff;
    border-radius: 100%;   
}

#header{
    width:50%;
    margin: 0 auto;
    -webkit-animation: expandHeader 1s ease 0.5s 1 normal forwards;
            animation: expandHeader 1s ease 0.5s 1 normal forwards;
    max-height:0px;
    padding:0;
    opacity:0;
}
@-webkit-keyframes expandHeader {
    0% {
        opacity:0;
        padding:0;
    }
    10% {
        opacity:0;
    }
    100% {
        opacity:1;
        max-height:1000px;
        padding:3%;
    }
}
@keyframes expandHeader {
    0% {
        opacity:0;
        padding:0;
    }
    10% {
        opacity:0;
    }
    100% {
        opacity:1;
        max-height:1000px;
        padding:3%;
    }
}
#header h1, #header h3{
    margin: 0 auto;
    -webkit-animation: expandTextMargin 0.5s ease .5s 1 normal forwards;
            animation: expandTextMargin 0.5s ease .5s 1 normal forwards;
}

@-webkit-keyframes expandTextMargin {
    0% {
        margin: 0 auto;
    }
    100% {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
@keyframes expandTextMargin {
    0% {
        margin: 0 auto;
    }
    100% {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}


h1{
    letter-spacing: 8px;
}

.vl {
    width:2px;
    background:white;
    height: 100px;
    margin: 0 auto;
}

.hl{
    background:white;
    width:50%;
    height:2px;
    margin: 0 auto;

}

ul{
    padding:0px;
}

li {
    display:inline-block;
    margin:0 auto;
    padding:1em 2em;
    width:10em;
    border: solid 1px #ffffff;
    cursor: pointer;
}

li:hover {
    background-color:rgba(27, 31, 34, 0.6);

}
@media screen and (max-width: 1000px){
    #header{
        width:80%;
    }

    .vl {
        height: 80px;
    }

    .hl{
        width:80%;
    }
}

@media screen and (max-width: 480px){
    h1{
        font-size:2rem;
    }
    h3{
        font-size:1rem;
    }

    .vl {
        height: 60px;
    }
    .hl{
        width:80%;
    }
}

