
* {
    letter-spacing: 3px;
}

#laptopLogo{
    margin: 0 auto;
    width: 14rem;
    height: 14rem;
    line-height: 18rem;
    border: solid 2px #ffffff;
    border-radius: 100%;   
}

#header{
    border-top:solid 2px #ffffff;
    border-bottom:solid 2px #ffffff;
    padding:3%;
    width:50%;
    margin: 0 auto;

    /* animation: expand 2s ease-in-out; */
}

@keyframes expand {
    0% {
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
    }
    100% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

h1{
    letter-spacing: 8px;
}

.vl {
    width:2px;
    background:white;
    height: 100px;
    margin: 0 auto;
}

ul{
    padding:0px;
}

li {
    display:inline-block;
    margin:0 auto;
    padding:1em 2em;
    width:10em;
    border: solid 1px #ffffff;
    cursor: pointer;
}

li:hover {
    background-color:rgba(27, 31, 34, 0.6);

}
@media screen and (max-width: 1000px){
    #header{
        width:80%;
    }
}

@media screen and (max-width: 480px){
    h1{
        font-size:2rem;
    }
    h3{
        font-size:1rem;
    }
}

